{% extends "layout.html" %}
{% block page_title %}
About Me
{% endblock %}

{% block body %}
<div class="uk-padding">
    Hello everyone, <br />
    <p>My name is Gaurav Atreya. I'm a civil engineering graduate; who likes to program in my free time. I am currently employed as a software engineer. I have some free time right now so I did this website as a pet project because my father likes to write poems so I wanted to make something to help him. And choose to make a website over a software because it'd be easier for me to change from my own laptop. </p>
    <p>More details about me can be found in this <a href="https://atreyagaurav.github.io/" target="_blank">page</a>. Or in my social media pages (like <a href="https://www.facebook.com/atreyagaurav/" target="_blank">Facebook</a>), visit contact page for more detail on that.</p>
    My hobbies are:
    <ul>
	<li>Programming small utilities</li>
	<li>Configuring my Linux desktop</li>
	<li>Reading Novels</li>
	<li>Watching series/movies (mostly scifi/superhero genre)</li>
	<li>Anime/Manga/Light Novels</li>
	<li>Volunteering with some Japanese to English translations</li>
    </ul>
    <p> Here is my <a href="https://atreyagaurav.github.io/files/cv_gaurav_atreya.pdf">CV/Resume</a> if you want to contact me over something professional.</p>
    <p>Important: Web development is not my forte, it barely qualifies as my skill. So this page isn't that Great, some parts are buggy and doesn't look good, if you have suggestions you can contant me, or you can also open issues in the github. </p>
    <p>Since I'm not good with web development, what am I good at? <br />
	I'm good with software developement and Civil engineering works (specializing in Hydrology/Hydraulics and GIS). I am also good at automating my workflow but you could say that's something my lazy self is motivated to do. My favourite programming languages are python and C.</p>
</div>
{% endblock %}
