{% extends "layout.html" %}
{% block page_title %}
Contact
{% endblock %}

{% block body %}
<article class="uk-padding">
    <h2>Contact</h2>
    <div>
	<p>Gaurav Atreya</p>
	<p>Email: <a href="mailto:allmanpride@gmail.com">allmanpride@gmail.com</a></p>
	<p>Github:  <a href="https://github.com/Atreyagaurav" target="_blank">Atreyagaurav</a></p>
	<p>Discord: thevoidzero#4686</p>
	<p>Facebook: <a href="https://www.facebook.com/atreyagaurav/" target="_blank">Atreyagaurav</a></p>
	<p>Webpage: <a href="https://atreyagaurav.github.io/" target="_blank">atreyagaurav.github.io/</a></p>
	<p><a href="https://atreyagaurav.github.io/files/cv_gaurav_atreya.pdf">CV/Resume</a> with more details</p>
    </div>
    <p> Feel free to contant me with suggestions, feature requests and other details about this webpage. You can also contact me over other ideas and my other programs that you may have used or currently using, if not visit my github, there aren't much but there are some useful tools like birthdays reminder with BS date system support.</p>
</article>
{% endblock %}
