<html>
  <title>Interactive Chanda Test</title>
  <head>
    <script>
      function fill_sample() {
	  document.getElementById('kabita-maintext').value = "# शार्दुलविक्रीडित-छन्द-कविता\n# SSSIISISIIISSSISSIS \n\nहोस् दीर्घायु सुस्वास्थ्य झै मधुरता वाणी मिठो नम्र होस्\nआफ्नो धर्म र कर्म मानमनिता भाषा कला चाख होस्\n\nइच्छा आँट खुशी सबै सफलहोस् तिम्रा सबै चाहना\nयो जन्मोत्सवले सधै खुश भरोस् हाम्रो छ यै कामना\n";
      }
      
      function check_kabita() {
	  data = {text : document.getElementById('kabita-maintext').value}
	  return fetch("/check", {
	      method: "POST",
	      headers: {
		  'Content-Type': 'application/json;charset=utf-8'
	      },
	      body: JSON.stringify(data)
	  }).then(res => {return res.text()}).then( data => {
    console.log("Request complete! response:", data);
    document.getElementById('kabita-response').innerHTML = data;
})
    }
    </script>
  </head>

  
  <body>
    <div style="width: 100%; height: 100%">
      <div>
	<button onclick="window.location.href='/'">Back</button>
	<button>Upload File</button>
	<button>Save to File</button>
	<button onclick="fill_sample()">Example</button>
	<button onclick="check_kabita()">Check</button>
      </div>
    <div style="width: 50%; height: 100%; float: left">
      <textarea id="kabita-maintext" style="width: 100%; height: 100%" placeholder="कबिता यहा टाईप गर्नुहोला ---- Type your Kabita here"></textarea>
    </div>
    
    <div id="kabita-response" style="width: 48%; height: 90%; float: right">
      कबिता बायाँ को कोठामा लेखेपछि जाच गर्न "Check" बटन थिच्नुहोस्। <br />
      Click Check to check the text after Typing the Kabita in the left box.
    </div>
    </div>
    
  </body>
</html>
