<html>
  <head><title>Welcome|Kabita Analysis </title></head>
  <body>
    <h2>स्वागतम्</h2>
    <br />
    कबिताको छन्द जाच गर्नको लागि बनाको app <a href="/kabita_interactive">/kabita_interactive</a> मा गएर चलाउन सक्नुहुनेछ।
    <br />
    गलत शब्दहरु रातोमा देखाएको हुन्छ र तेसमाथि mouse लैजादा के गलत छ नि देख्न सकिन्छ।
    <br />
    कबिताको छन्द "I" र "S" ले छोटो र लामो श्वर लाई जनाउने गरि '#' पछि लेखिएको छ भने आफै जाच गर्न सक्छ। उदाहरण <a href="/kabita_interactive">/kabita_interactive</a> को "Example" Button थिचेपछि देख्न सक्नुन्छ।
    <h2>Welcome</h2>
    <br />
    Welcome to my page, this is just a placeholder, while the actual app is in <a href="/kabita_interactive">/kabita_interactive</a> endpoint.
    The API is available in /check endpoint, just send a JSON with {"text":"your kabita"}, it'll return the rendered HTML with mistakes highlighted in Red.
    <br />
    The mistakes are highlighted and explained in tooltip which you can see when you hover over them.
    <br />
    Save file and load file features are currently Unavailable.
    <br />
    <br />
    The source code for this webapp as well as the backend if available in my  <a href="https://github.com/Atreyagaurav/kabita-check/">github</a>.
    
  </body>
</html>
