<html>
    <head><title>Welcome|Kabita Analysis </title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179276102-1"></script>
	<script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', 'UA-179276102-1');
	</script>
	
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
	<style>
	 h3 {
	     background-color:  rgba(200,80,0,0.6);
	     text-align: center;
	 }
	 body {
	     background-image: linear-gradient(130deg, rgba(200,200,0,0.6),rgba(200,0,0,0.6));
	     color: black;
	 }
	</style>

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
    </head>
    <body class="grad">
	<h2 class="uk-heading-small" style="text-align: center;">स्वागतम् | Welcome</h2>
	<div style="text-align: center;">यो website छन्द कविता जाँच गर्ने उद्देश्यका साथ बनाइएको हो। unicode मा लेखिएको कवितामा भएका मात्राहरु हेरेर ह्रश्व र दीर्घ बुझ्दछ; अनि सबै लाईन एक अर्का संग तुलना गरिन्छ।</div>

	<div class="uk-child-width-1-3@l uk-grid-small uk-grid-match uk-margin-small-left" uk-grid>
	    <div class="uk-card uk-card-mute uk-card-body">
		    <h3 class="uk-card-title">अब कहा जाने</h3>
		    <p>कविताको छन्द जाँच गर्नको लागि बनाइएको app <a href="/kabita_interactive">/kabita_interactive</a> मा गएर चलाउन सक्नुहुनेछ।</p>
		    <p>कविता जाँच गर्ने र उदाहरण हेर्ने काम त्यहा गर्न सकिन्छ।</p>
		    <p>The testing web-app is in <a href="/kabita_interactive">/kabita_interactive</a> endpoint.</p>
		    <p>You can test your kabita as well as look at example kabita format there</p>
		</div>
		<div class="uk-card uk-card-mute uk-card-body">
		    <h3 class="uk-card-title">कविता कसरी जाँच गर्ने</h3>
		    <p>आफ्नो कविता unicode मा InputBox मा टाईप गर्न सक्नुहुनेछ; या आफ्नो फाईल बाट paste गर्न सक्नुहुनेछ। कविता तयार गरेपछि "Check" button थिच्नुहोस्।
		    <p>कविताको छन्द "I" र "S" ले छोटो र लामो स्वरलाई जनाउने गरी '#' पछि लेखिएको छ भने आफै जाँच गर्न सक्छ। उदाहरण <a href="/kabita_interactive">/kabita_interactive</a> को "Example" Button थिचेपछि देख्न सक्नुहुन्छ।</p>
		    <p>To know how to check your kabita press the "Example" button and then look at the Example.
		</div>
		<div class="uk-card uk-card-mute uk-card-body">
		    <h3 class="uk-card-title">गल्ती कसरी हेर्ने</h3>
		    <p>गलत शब्दहरु रातोमा देखाएको हुन्छ र त्यसमाथि mouse लैजाँदा के गलत छभनि देख्न सकिन्छ।</p>
		    <p>कति गल्ती भेटिए भनेर Analysis Results मा देखाउछ। रातोमा कुल गल्ती र हरियोमा कुल सहि देखाउछ।</p>
		    <p>The mistakes are highlighted and explained in tooltip which you can see when you hover over them.</p>
		    <p>Analysis result shows the overall analysis of the Kabita, red shows errors while green shows count of correct lines.</p>
		</div>
	</div>
	<h3>Informations for Programmers/Developers</h3>
	<ul class="uk-list uk-list-large">
	    <li>The API is available in /check endpoint, just send a JSON with {"text":"your kabita"}, it'll return the analysis result as well as rendered HTML with mistakes highlighted in Red.</li>
	    <li>Save file and load file features are currently under development. I'm not great with javascript so the development is super slow.</li>
	    <li>I'd also like to integrate a nepali dictionary to check the correctness of words as well as chanda, and maybe suggest solutions for errors.</li>
	</ul>
	<hr>
	The source code for this webapp as well as the backend is available at my github <a href="https://github.com/Atreyagaurav/kabita-check/"><span class="uk-icon-button uk-margin-small-right" uk-icon="github"></span> Atreyagaurav</a>  
	
    </body>
</html>
