<html>
    <head><title>Welcome|Kabita Analysis </title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179276102-1"></script>
	<script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', 'UA-179276102-1');
	</script>
	
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
    </head>
    <body class="uk-margin-left">
	<h2 class="uk-heading-medium">स्वागतम् Welcome</h2>

	<ul class="uk-list uk-list-large">
	    <li>कविताको छन्द जाँच गर्नको लागि बनाइएको app <a href="/kabita_interactive">/kabita_interactive</a> मा गएर चलाउन सक्नुहुनेछ।</li>
	    <li>गलत शब्दहरु रातोमा देखाएको हुन्छ र त्यसमाथि mouse लैजाँदा के गलत छभनि देख्न सकिन्छ।</li>
	    <li>कविताको छन्द "I" र "S" ले छोटो र लामो स्वरलाई जनाउने गरी '#' पछि लेखिएको छ भने आफै जाँच गर्न सक्छ। उदाहरण <a href="/kabita_interactive">/kabita_interactive</a> को "Example" Button थिचेपछि देख्न सक्नुहुन्छ।</li>
	</ul>
	
	<ul class="uk-list uk-list-large">
	    <li>Welcome to my page, this is just a placeholder, while the actual app is in <a href="/kabita_interactive">/kabita_interactive</a> endpoint.</li>
	    <li>The API is available in /check endpoint, just send a JSON with {"text":"your kabita"}, it'll return the rendered HTML with mistakes highlighted in Red.</li>
	    <li>The mistakes are highlighted and explained in tooltip which you can see when you hover over them.</li>
	    <li>Save file and load file features are currently Unavailable.</li>
	</ul>
	The source code for this webapp as well as the backend is available at my github <a href="https://github.com/Atreyagaurav/kabita-check/"><span class="uk-icon-button uk-margin-small-right" uk-icon="github"></span> Atreyagaurav</a>  
	
    </body>
</html>
